
<h1>Books Listing</h1>

<table>
  <thead>
    <tr>
      <th>Sr.No.</th>
      <th>Name</th>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th>PDF</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each_with_index do |book, index| %>
      <tr>
        <td><%= index + 1 %></td> <!-- Adding 1 to start counting from 1 instead of 0 -->
        <td><%= book.name %></td>
        <td><%= book.title %></td>
        <td><%= book.content %></td>
      
        <td><%= image_tag(book.image.url,style: 'height: 100px; width: 100px;') if book.image.attached? %></td>
        <td>
        <% if book.pdf.attached? %>
          <p>
            <strong>PDF:</strong><br>
            <%= link_to 'View PDF', rails_blob_path(book.pdf, disposition: 'inline'), target: '_blank' %>
            <%= link_to 'Download PDF', rails_blob_path(book.pdf, disposition: 'attachment') %>
          </p>
        <% else %>
          <p>No PDF attached</p>
        <% end %>
        </td>

        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'New Book', new_book_path %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { 
          turbo_method: :delete,
          turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


